<!doctype html>

{% block content %}

<div class="container mt-3">
    <h4> Customer's Personal Details Application </h4>
    <a href="{% url 'add' %}" class="btn btn-sm btn-info">Add New Customer</a>
    <a href="{% url 'home' %}" class="btn btn-sm btn-info">Home Page</a>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Customer's Name</th>
                <th>Customer's Contact Information</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for c in customer%}
            <tr>
                <td>{{c.name}}</td>
                <td>{{c.email}}</td>
                <td>
                    <a href="update" class="btn btn-sm btn-info">Update Student</a>
                    <a href="delete" class="btn btn-sm btn-danger">Delete Student</a>
                </td>
            </tr>
            {% endfor block %}

        </tbody>
    </table>
</div>

{% endblock content %}